/*Selector de etiqueta*/

* {
  margin: 0;
  padding: 0;
}

h1 {
  color: black;
  font-size: 33px;
}

/*Selector de etiqueta*/


/*Body*/

.body {
  font-family: "Raleway", sans-serif;
  font-weight: 700px;
  background-color: white;
  background-image: url(../img/fondo/pattern.svg);
}

/*Body*/


/*Header*/

.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100px;
  width: 100%;
  background-color: #101010;  
}

.header li {
  display: inline-flex;
  padding-right: 80px;
}

.header a {
  margin-right: auto;
  color: white;
}

.header img {
  width: 40px;
  padding: 20px;
}

.inicio {
  margin-left: 70px;
}

.inicio img{
  transform: scale(1);
  transition: 0.5s linear;
}

.inicio img:hover {
  transform: scale(1.4);
  transition: 0.5s linear;
}

.nav {
  text-transform: uppercase;
}

.nav ul li a:hover {
  color: black;
  background-color: #ea5655;
  border-radius: 10px;
}

.nav ul li a {
  padding: 20px;
}

.nav li {
  list-style-type: none;

}

.nav ul li a {
  text-decoration: none;
  transition: all 0.3s linear;
}

/*Header*/


/*Columnas index article*/

.section {
  font-family: "Calibri";
  font-weight: 300;
  margin-top: 30px;
  margin-left: 10%;
  height: 75%;
  width: 80%;
  text-align: center;
}

.section h1 {
  margin: 20px auto;
  box-shadow: 0px 2px 10px;
  border-radius: 10px;
  width: 500px;
  background-color: white;
}

.columnas {
  margin: 20px auto;
  padding-top: 40px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px;
  background-color: white;
  width: 60%;
  text-transform: uppercase;
  font-weight: bold;
  columns: 3;
  height: 270px;
  font-size: 20px;
}

.columnas li {
  list-style-type: none;
  color: black;
}

.columnas img {
  width: 160px;
  padding-top: 40px;
}

.section2 {
  font-family: "Calibri";
  font-weight: 300;
  margin-left: 10%;
  height: 75%;
  width: 80%;
  text-align: center;
}

.section2 h1 {
  margin: 20px auto;
  box-shadow: 0px 2px 10px;
  border-radius: 10px;
  width: 630px;
  background-color: white;
}

.columnas2 {
  margin: 20px auto;
  padding-top: 40px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px;
  background-color: white;
  width: 60%;
  text-transform: uppercase;
  font-weight: bold;
  columns: 2;
  height: 270px;
  font-size: 20px;
}

.columnas2 li {
  list-style-type: none;
  color: black;
}

.columnas2 img {
  width: 160px;
  padding-top: 40px;
}

.section3 {
  font-family: "Calibri";
  font-weight: 300;
  margin-left: 10%;
  position: absolute;
  height: 50%;
  width: 80%;
  text-align: center;
}

.section3 h1 {
  margin: 20px auto;
  box-shadow: 0px 2px 10px;
  border-radius: 10px;
  width: 590px;
  background-color: white;
}

.columnas3 {
  margin: 20px auto;
  padding-top: 40px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px;
  background-color: white;
  width: 60%;
  text-transform: uppercase;
  font-weight: bold;
  columns: 1;
  height: 270px;
  font-size: 20px;
}

.columnas3 li {
  list-style-type: none;
  color: black;
}

.columnas3 img {
  width: 160px;
  padding-top: 40px;
}

/*Columnas index article*/


/*Redes*/

.redes {
  position: fixed;
  right: 0px;
  height: 320px;
  margin-top: 230px;
  margin-right: 20px;
  background-color: #101010;
  box-shadow: 0px 2px 10px;
  border-radius: 50px;
  width: 70px;
}

.redes li {
  float: right;
  position: relative;
  padding: 14px;
  padding-top: 13.4px;
  list-style-type: none;
  left: 4px;
}

.redes ul li img {
  width: 50px;
  height: 50px;
  transform: rotate(0deg);
  transition: 0.6s;
}

.redes ul li img:hover {
  transform: rotate(-360deg);
  transition: 0.6s;
}

/*Redes*/

/*Footer*/

.footer {
  position: fixed;
  bottom: 0px;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: #101010;
  color: white;
  font-family: 'Calibri';
}

.footer p {
  padding-top: 15px;
}

.footer_izquierda p {
  float: left;
  margin-left: 70px;
}

.footer_derecha p {
  float: right;
  margin-right: 70px;
}

.footer_izquierda p::after {
  content: " | 2021 - 2022";
}

.footer_derecha p::after {
  content: " >";
}

.paleta {
  position: fixed;
  right: 0px;
  width: 40px;
  height: 40px;
  margin-top: 5px;
  margin-right: 15px;
  background: #dfbba5;
  border-radius: 50%;
}

.rojo {
  background: #ea5655;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-left: 11px;
  margin-top: 2px;
}

.gris {
  background: #101010;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-left: 23px;
  margin-top: -6px;
}

.blanco {
  background: white;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-left: 24px;
  margin-top: 1px;
}

/*Footer*/


/*Tabla principal*/

.tabla_cv {
  width: 50%;
  margin:20px auto;
  margin-top: 12.5px;
  border-collapse: collapse;
  table-layout: fixed;
  box-shadow: 0px 2px 10px;
  border-radius: 10px;
  margin-right: 240px;
  background-color: white;
}

.tabla_cv td {
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.adrian img {
  border-radius: 50%;
  border: 3px solid black;
  width: 250px;   
  margin-left: 30px;
  margin-bottom: 10px;
}

.tabla_cv h1 {
  padding-left: 30px;
}

.contacto li {
  display: inline-flex;
}

.contacto li p {
  padding-left: 10px;
}

.contenedor_nombreyapellidos {
  font-size: 2.3em;
  padding-bottom: 20px;
}

.nombreyapellidos {
  width: 400px;
}

.negrita {
  font-size: 30px;
}

.espaciado {
  padding-top: 10px;
}

/*Tabla principal*/


/*Tarjetas flotantes a la izquierda de la tabla*/

.tarjeta {
  position: fixed;
  width: 400px;
  height: 354px;
  top: 0px;
  margin-top: 113px;
  margin-left: 170px;
  box-shadow: 0px 2px 10px;
  border-radius: 10px;
  text-align: center;
  background-color: white;
}

.tarjeta h1 {
  padding-top: 10px;
  text-decoration: underline;
}

.tarjeta2 {
  position: fixed;
  width: 400px;
  height: 354px;
  bottom: 0px;
  margin-bottom: 65px;
  margin-left: 170px;
  box-shadow: 0px 2px 10px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
}

.tarjeta2 h1 {
  padding-top: 10px;
  text-decoration: underline;
}

.tarjeta2 iframe {
  padding-top: 10px;
  border-radius: 10px;
}

.tarjeta video {
  padding-top: 50px;
  width: 370px; 
}

/*Tarjetas flotantes a la izquierda de la tabla*/


/*Formulario*/

.formulario {
  width: 65%;
  margin: 20px auto;
  text-align: center;
  margin-top: 20px;
  background-color: white;
  box-shadow: 0px 2px 10px;
  border-radius: 10px;
}

.formulario h1 {
  padding-top: 20px;
}

.formulario p {
  padding-top: 10px;
}

.reiniciar button {
  margin-bottom: 20px;

}

/*Formulario*/


/*Proyecto*/

.video_proyecto {
  position: fixed;
  width: 35%;
  height: 44%;
  margin: 190px auto;
  margin-left: 30%;
  background-color: white;
  box-shadow: 0px 2px 10px;
  border-radius: 10px;
  text-align: center;
}

.video_proyecto iframe {
  border: 3px dashed black;
  margin-top: 53px;
}

/*Proyecto*/