* {
  margin: 0;
  padding: 0;
}

h1 {
  color: black;
  font-size: 33px;
}

.body {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  background-color: white;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100px;
  width: 100%;
  background-color: #101010;  
}

.header li {
  display: inline-flex;
  padding-right: 80px;
}

.header a {
  margin-right: auto;
  color: white;
}

.header img {
  width: 40px;
  padding: 20px;
}

.inicio {
  margin-left: 70px;
}

.inicio img{
  transform: scale(1);
  transition: 0.5s linear;
}

.inicio img:hover {
  transform: scale(1.4);
  transition: 0.5s linear;
}

.páginas a:hover {
  color: black;
  background-color: #ea5655;
  border-radius: 10px;
}

.nav {
  text-transform: uppercase;
}

.nav li {
  list-style-type: none;

}

.nav ul div li a {
  text-decoration: none;
  transition: all 0.3s linear;
}

.páginas li a {
  padding: 20px;
}

.section {
  font-family: "Calibri";
  font-weight: 300;
  padding-top: 1.5%;
  margin-left: 10%;
  height: 75%;
  width: 80%;
  text-align: center;
}

.columnas {
  margin: 20px auto;
  padding-top: 40px;
  border-radius: 20px;
  background-color: rgba(17,17,17,0.75);
  width: 60%;
  text-transform: uppercase;
  font-weight: bold;
  columns: 3;
  height: 270px;
  font-size: 20px;
}

.columnas li {
  list-style-type: none;
  color: white;
}

.columnas img {
  width: 160px;
  padding-top: 40px;
}

.section2 {
  font-family: "Calibri";
  font-weight: 300;
  margin-left: 10%;
  height: 75%;
  width: 80%;
  text-align: center;
}

.columnas2 {
  margin: 20px auto;
  padding-top: 40px;
  border-radius: 20px;
  background-color: rgba(17,17,17,0.75);
  width: 60%;
  text-transform: uppercase;
  font-weight: bold;
  columns: 2;
  height: 270px;
  font-size: 20px;
}

.columnas2 li {
  list-style-type: none;
  color: white;
}

.columnas2 img {
  width: 160px;
  padding-top: 40px;
}

.redes {
  position: fixed;
  right: 0px;
  height: 320px;
  margin-top: 230px;
  margin-right: 20px;
  background-color: rgba(17,17,17,0.75);
  border-radius: 50px;
  width: 70px;
}

.section3 {
  font-family: "Calibri";
  font-weight: 300;
  margin-left: 10%;
  position: absolute;
  height: 50%;
  width: 80%;
  text-align: center;
}

.columnas3 {
  margin: 20px auto;
  padding-top: 40px;
  border-radius: 20px;
  background-color: rgba(17,17,17,0.75);
  width: 60%;
  text-transform: uppercase;
  font-weight: bold;
  columns: 1;
  height: 270px;
  font-size: 20px;
}

.columnas3 li {
  list-style-type: none;
  color: white;
}

.columnas3 img {
  width: 160px;
  padding-top: 40px;
}

.redes li {
  float: right;
  position: relative;
  padding: 14px;
  padding-top: 13.4px;
  list-style-type: none;
  left: 4px;
}

.redes ul li img {
  width: 50px;
  height: 50px;
  transform: rotate(0deg);
  transition: 0.6s;
}

.redes ul li img:hover {
  transform: rotate(-360deg);
  transition: 0.6s;
}

.footer {
  position: fixed;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 50px;
  width: 100%;
  background-color: #101010;
}

.footer h4 {
  font-family: 'Calibri';
  padding-left: 70px;
  color: white;
}

.footer h4::after {
  content: " | 2021 - 2022";
}

.tabla_cv {
  width: 50%;
  margin:20px auto;
  margin-top: 12.5px;
  border-collapse: collapse;
  table-layout: fixed;
  box-shadow: 0px 2px 10px;
  border-radius: 10px;
}

.tabla_cv td {
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.adrian img {
  border-radius: 50%;
  border: 3px solid black;
  width: 250px;   
  margin-left: 30px;
  margin-bottom: 10px;
}

.tabla_cv h1 {
  padding-left: 30px;
}

.contacto li {
  display: inline-flex;
}

.contacto li p {
  padding-left: 10px;
}

.contenedor_nombreyapellidos {
  font-size: 35px;
  padding-bottom: 20px;
}

.nombreyapellidos {
  width: 400px;
}

.negrita {
  font-size: 30px;
  text-decoration: underline;
}

.espaciado {
  padding-top: 10px;
}

.mapa iframe{
  border-radius: 60%;
}

.formulario {
  width: 40%;
  display: block;
  margin: 20px auto;
  text-align: center;
  margin-top: 40px;
}

.títuloformulario {
  text-align: center;
  margin-top: 70px;
}